<form action="/getInf" method="POST">
    <p>Titulo: </p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <p><button type="submit">Cadastrar postagem</button></p>
</form>